.engine-details__container {
  padding: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.engine-details__titles-container {
  flex: 1 1 200px;
}

.engine-details__infos-container {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.engine-details__availability-price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.engine-details__availability--text {
  font-size: 1.8rem;
}

.engine-details__price {
  font-size: 2rem;
  font-weight: 700;
}

.engine-details__rent-action-container {
  height: 300px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.engine-details__datepicker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  font-size: 1.4rem;
}

.engine-details__rent-btn {
  font-size: 2rem;
  cursor: pointer;
  border: solid 2px #cd6133;
  border-radius: 4px;
  padding: 16px;
  width: 256px;
  background-color: #cd6133;
  color: #fff;
  transition: all 0.4s;
}

.engine-details__rent-btn:hover {
  background-color: transparent;
  color: #cd6133;
  border: solid 2px #cd6133;
}
